# Directories to exclude
/venv
/Python 3.13
/Arduino_tests
/adafruit-circuitpython-bundle-py-20250319
/precompiled-circuitpython-bundle
.idea

.un~
.txt~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app